{% extends "legal_base.html" %}

{% block title %}Impressum{% endblock %}
{% block subtitle %}Anbieterkennzeichnung{% endblock %}

{% block content %}
<h1>Impressum</h1>
<p class="legal-version">Angaben gemäß § 5 Digitale-Dienste-Gesetz (DDG)</p>

<h2>Diensteanbieter</h2>
<address>
  Universität Stuttgart<br />
  Keplerstraße 7<br />
  70174 Stuttgart<br />
  Deutschland
</address>
<p>
  Telefon: <a href="tel:+497116850">+49 711 685-0</a><br />
  E-Mail: <a href="mailto:poststelle@uni-stuttgart.de">poststelle@uni-stuttgart.de</a><br />
  Internet: <a href="https://www.uni-stuttgart.de/">www.uni-stuttgart.de</a>
</p>

<h2>Vertretung und Rechtsform</h2>
<p>
  Die Universität Stuttgart ist eine Körperschaft des öffentlichen Rechts. Sie wird durch den
  Rektor Prof. Dr.-Ing. Peter Middendorf gesetzlich vertreten.
</p>
<p>
  Umsatzsteuer-Identifikationsnummer: DE 1477 94 196<br />
  Steuernummer für umsatzsteuerliche Zwecke: 99002/20007<br />
  Wirtschafts-Identifikationsnummer: DE 1477 94 196-00001
</p>

<h2>Betreuung dieses Dienstes</h2>
<address>
  Universität Stuttgart<br />
  Institut für Maschinelle Sprachverarbeitung<br />
  Pfaffenwaldring 5 b<br />
  70569 Stuttgart
</address>
<p>
  Fachliche und technische Korrespondenz:<br />
  Sven Naber,
  <a href="mailto:sven.naber@ims.uni-stuttgart.de">sven.naber@ims.uni-stuttgart.de</a>
</p>

<h2>Weitere Angaben</h2>
<p>
  Die jeweils aktuellen zentralen Anbieterangaben und rechtlichen Hinweise finden Sie im
  <a href="https://www.uni-stuttgart.de/impressum/">Impressum der Universität Stuttgart</a>.
</p>
{% endblock %}
